{
    "eventid": "38268",
    "channelid": "2002",
    "date": "20/05/12",
    "start": "1337551800000",
    "dur": "5400",
    "title": "Anchorman: The Legend of Ron...",
    "shortDesc": "...Burgundy. Comedy. A female reporter threatens the all-male '70s San Diego newsroom dominated by its anchorman. With Will Ferrell. Contains some strong language.  [2004] [AD,S]",
    "genre": "6",
    "subgenre": "4",
    "edschoice": "false",
    "parentalrating": {
        "k": "0",
        "v": "--"
    },
    "widescreen": "",
    "sound": {
        "k": "1",
        "v": "Simple stereo"
    },
    "remoteRecordable": "false",
    "record": "1",
    "scheduleStatus": "FINISHED",
    "blackout": "false",
    "movielocator": "null"
}