div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='#') Project name      
      div.nav-collapse
        ul.nav
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Contact
          li.dropdown
            a.dropdown-toggle(href='#',data-toggle='dropdown') Dropdown
              b.caret
            ul.dropdown-menu
              li
                a(href='#') Action 1
              li
                a(href='#') Action 2  
              li
                a(href='#') Action 3
              li.divider
              li.nav-header Nav header
              li  
                a(href='#') Action 4 
              li  
                a(href='#') Action 5