div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') Sky Node      
      div.nav-collapse
        ul.nav
          li
            a(href='/') Home
          li
            a(href='/channels') Channels
          li
            a(href='/guide') Guide
