div.container
  h1 #{title}
  table.table.table-striped
     thead
       tr
         th Time
         th Programme
         th Description
     tbody
       each prog in programmes
         tr
           td= prog.start
           td= prog.title
           td= prog.shortDesc
           
